@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}


.active {
  pointer-events: none;
  cursor: default;
}


#controls {
    opacity: 0.9;
}
#video {
    background-image: url('./thumbnail.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;

}
#play-button {
    display: inline-block;
    cursor: pointer;
  }
 #play-button * {
    display: inline-block;
    position: absolute;
    background: #fff;
    opacity: 0.75;
    transition: clip-path .3s ease;
  }
  #play-button-before {
    clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
  }
  #play-button-after {
     clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
  }
  #play-button:hover #play-button-before {
    clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
  }
  #play-button:hover #play-button-after{
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%)
  }




  /* loader */

  #loader {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
  }
  #loader .loader__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  #loader .loader__icon svg {
    transform-origin: 0 0;
  }
  #loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #007AE5;
    transition: width 0.7s ease;
  }
  #loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.2s;
  }
  #loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
  }
  #loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.2s;
  }
  #loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.4s;
  }
  #loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.6s;
  }
  #loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.8s;
  }
  #loader.htmx-indicator {
    width: 100%;
    transition-delay: 0s;
  }
  #loader.htmx-indicator .loader__icon {
    opacity: 1;
    transition: opacity 0.5s 1.4s ease;
  }
  #loader.htmx-indicator .loader__tile {
    width: 100%;
  }
  #loader.htmx-indicator .loader__tile:nth-child(0) {
    transition-delay: -0.2s;
  }
  #loader.htmx-indicator .loader__tile:nth-child(1) {
    transition-delay: 0s;
  }
  #loader.htmx-indicator .loader__tile:nth-child(2) {
    transition-delay: 0.2s;
  }
  #loader.htmx-indicator .loader__tile:nth-child(3) {
    transition-delay: 0.4s;
  }
  #loader.htmx-indicator .loader__tile:nth-child(4) {
    transition-delay: 0.6s;
  }
  #loader.htmx-indicator .loader__tile:nth-child(5) {
    transition-delay: 0.8s;
  }